<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <title>Row</title>
</head>

<body>
    <h1>Things to do in tender Denver when you're on a bender no matter gender. Let's render!</h1>
    <div id="pic">
        <div id="date">
            <%= new Date().toLocaleDateString("en-US", {weekday: "long", month: "short",day: "numeric", year: "numeric" });%>
        </div>
    </div>
    <div id="first">

        <% rows.forEach( (row)=>{ %>


        <% const splitingDate = row.date %>

        <div id="divInputA"> <%= row.text %></div>
        <div id="divInputB"> <%= row.tag %></div>
        <!-- <div> <%= row.date %></div> -->
        <%= splitingDate.getFullYear() + " :" %>
        <%= splitingDate.getMonth() + " :" %>
        <%= splitingDate.getDate() + " :" %>
        <%= splitingDate.getHours() + " :" %>
        <%= splitingDate.getMinutes() + " :" %>
        <!-- <%= splitingDate.getSeconds() + " :" %> -->
        <!-- <button href="/update/<%=row._id%>">Update</button>
            <button href="/delete/<%=row._id%>">Delete</button> -->
        <a href="/update/<%=row._id%>"><button class="button button1">Update</button></a>
        <a href="/delete/<%=row._id%>"><button class="button button1">Delete</button></a>
        <% }) %>
    </div>
    <div id="second">
        <form action="/createrow" method="post">
            <input type="text" name="text" id="fieldA" placeholder="Text">
            <input type="text" name="tag" id="fieldB" placeholder="Tag">

            <!-- När vi trycker på denna knapp så gör vi en postrequest på denna router -->
            <button id="posttodo" type="submit" class="button button1">Post Row</button>
        </form>
    </div>
    <div id="third">
        <!-- <a href="/row/?timesort=1"><button class="button button1">Sort by date asc</button></a>
        <a href="/row/?timesort=-1"><button class="button button1">Sort by date desc</button></a>
        <a href="/row/?tagsort=1">Sort by tag asc</a>
        <a href="/row/?tagsort=-1">Sort by tag desc</a> -->
        <a href="/row/?textsort=1"><button class="button button1">Sort by text asc</button></a>
        <a href="/row/?textsort=-1"><button class="button button1">Sort by text desc</button></a>
    </div>
    <div id="fourth">
        <a href="/row/?page=1"><button class="button button1">1 One 1</button></a>
        <a href="/row/?page=2"><button class="button button1">2 Two 2</button></a>
        <a href="/row/?page=3"><button class="button button1">3 Three 3</button></a>
        <a href="/row/?page=4"><button class="button button1">4 Four 4</button></a>
    </div>
    <Footer><a href="/about">About</a>All rights reserved, Trade Mark, Copy Right and so forth and so on. ToDo-list Made
        by Adam Kammerland
        20200207</Footer>
</body>

</html>